* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
}
::-ms-thumb {
  background-color: #9810fa;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #9810fa;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #9810fa;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}
html {
  scroll-behavior: smooth;
}
.hero {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #0f172a, #581c87, #0f172a);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.hero .content img {
  width: 200px;
  border-radius: 50%;
  border: 5px solid #9658c6;
}
.content h3 {
  font-size: 16px;
  color: white;
  text-align: center;
  font-weight: normal;
}
.content h3 span {
  color: #b35ff3;
}
.content p {
  color: white;
  text-align: center;
  letter-spacing: 0.8;
  word-spacing: 0.5;
  max-width: 600px;
  margin-block: 25px;
}
.btns {
  margin-bottom: 20px;
}
.content .btns a {
  text-decoration: none;
  padding: 15px 30px;
  color: white;
  border-radius: 8px;
}
.btns a:first-child {
  background-color: #9810fa;
  &:hover {
    background-color: #662797;
  }
}
.btns a:last-child {
  border: 1px solid white;
  margin-left: 10px;
  &:hover {
    background-color: #6767677a;
  }
}
/* --------------------------------------- */
.about {
  padding-block: 50px;
  text-align: center;
  padding-inline: 10px;
}
.about h3 {
  text-transform: capitalize;
  text-align: center;
  font-weight: normal;
}
.about p {
  text-align: center;
  color: #45556c;
  max-width: 400px;
  font-size: 15px;
  margin: 30px auto;
  line-height: 1.6;
}
.about .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-inline: 20px;
  margin-top: 80px;
}
.about .box h4 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 400;
}
.box p {
  color: #45556c;
  font-size: 14px;
  line-height: 1.6;
}
.about .content svg {
  width: 60px;
  background-color: #e9f0fa;
  padding: 10px;
  border-radius: 50%;
  fill: #9810fa;
  margin-bottom: 15px;
}
/* --------------------------------------- */

.skills {
  padding-block: 50px;
  padding-inline: 10px;
  background-color: #fcf9fa;
}
.skills > h3 {
  text-transform: capitalize;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  font-weight: 200;
}
.skills > p {
  text-align: center;
  color: #45556c;
  max-width: 500px;
  font-size: 15px;
  margin: 10px auto 30px auto;
  line-height: 1.6;
}
.skills .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-inline: 20px;
}
.skills .card {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.skills .content .card h3 {
  color: #9658c6;
  text-align: left;
  margin-bottom: 20px;
}
.skills .card ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}
.skills ul li {
  background-color: #e8e8e8;
  color: #000;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: lighter;
}
/* --------------------------------------- */

.projects {
  padding: 50px 10px;
}
.projects > h3 {
  text-transform: capitalize;
  text-align: center;
  font-weight: lighter;
  font-size: 16px;
}
.projects > p {
  text-align: center;
  color: #45556c;
  max-width: 500px;
  font-size: 15px;
  margin: 10px auto 30px auto;
  line-height: 1.6;
}
.projects .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding-inline: 20px;
}
.projects .card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px 10px 10px;
}
.projects .card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  &:hover {
    transform: scale(1.05);
  }
}
.projects .card h4 {
  font-weight: lighter;
  margin-block: 15px;
}
.projects .card p {
  padding: 0 15px 15px 0px;
  color: #45556c;
  font-size: 14px;
  line-height: 1.6;
  text-align: left;
  margin-block: 10px;
}
.projects .card .labels {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #9810fa;
  font-size: 14px;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.projects .card .labels span {
  padding: 5px 12px;
  border-radius: 10px;
  background-color: #e5eef481;
}
.projects .card .links {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
  padding: 0 10px 5px 10px;
  font-size: 13px;
}
.projects .card .links a {
  text-decoration: none;
  color: #45556c;
  &:hover {
    color: #9810fa;
  }
}

/* ----------------------------------- */
.footer {
  background-color: #0f172a;
  padding: 50px 10px 40px;
  text-align: center;
}
.footer h2 {
  color: white;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 25px;
}
.footer > p {
  color: #b0b0b0;
  max-width: 500px;
  margin: 0 auto 50px auto;
  font-size: 14px;
  line-height: 1.6;
}
.footer > a {
  text-decoration: none;
  background-color: #9810fa;
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  &:hover {
    background-color: #662797;
  }
}
.footer .links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}
.footer .links a svg {
  width: 45px;
  fill: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
  &:hover {
    fill: #9810fa;
  }
}
.end {
  text-align: center;
  color: #b0b0b0;
  font-size: 14px;
  padding: 30px;
  background-color: #000000;
}
